label{
  display: block;
}

input{
  margin: 5px;
  width: 30%;
  height: 10%;

}

button{
  margin: 5px;
}
div{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.input1{
  display: flex;
  flex-direction: column;



}

.teste1{
  display: flex;
  flex-direction: column;
}

button{
  width: 100px;
}
