

<div class="linha">
  <div class="coluna-50">
    <h1>  LISTA DE ALUNOS </h1>
    <table>
      <tr>
        <th>Nome</th>
        <th>Opção</th>
      </tr>
      <tr *ngFor="let aluno of listaDeAlunos" >
          <td>{{aluno.name}}</td>
          <td (click)="verPerfil(aluno)" >
            Ver Perfil
          </td>
      </tr>

    </table>
  </div>

  <div class="coluna-50 linha-veritcal"><ng-container *ngIf="perfilAlunoSelecionado">
    <app-aluno [alunoVizualizar] = "perfilAlunoSelecionado"></app-aluno>
  </ng-container>
  </div>
</div>

