.coluna-50 {
  width: 50%;
}

.linha{
  display: flex;
  flex-flow: row wrap;
}

.linha-vertical {
  height: 200px;
  border-right: 1px solid black;
}

table,tr,td,th {

  border:1px solid black;
  border-collapse: collapse;
  width: 400px;
  justify-content: center;
  text-align: center;

}
